In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"


columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
df = pd.read_csv(url, sep='\s+', names=columns, na_values='?')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [3]:
# 결측치 제거
data=df.dropna()

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
data = pd.get_dummies(data, columns=['car name'])
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name_amc ambassador brougham,car name_amc ambassador dpl,...,car name_volvo 145e (sw),car name_volvo 244dl,car name_volvo 245,car name_volvo 264gl,car name_volvo diesel,car name_vw dasher (diesel),car name_vw pickup,car name_vw rabbit,car name_vw rabbit c (diesel),car name_vw rabbit custom
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,False,False,...,False,False,False,False,False,False,True,False,False,False
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
X=data.drop('mpg',axis=1).astype('float32')
X.shape

(392, 308)

In [7]:
Y=data['mpg'].values
Y

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 19. ,
       16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. , 13. ,
       18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. , 27. ,
       26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. , 17. ,
       11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. , 22. ,
       21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. , 14. ,
       15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. , 18. ,
       18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. , 22. ,
       18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. , 15. ,
       24. , 20. , 11. , 20. , 19. , 15. , 31. , 26. , 32. , 25. , 16. ,
       16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. , 26. , 31. ,
       32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. , 15. , 15. ,
       16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. , 20. , 13. ,
       29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. , 19. , 23. ,
       23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. , 17.5, 16. ,
       15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. , 33. , 20. ,
       18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. , 19. , 19. ,
       16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5, 33.5, 17.5,
       17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5, 15.5, 16. ,
       29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. , 21.5, 21.5,
       43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2, 20.5, 20.2,
       25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7, 18.1, 17.5,
       30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 17. , 21.6,
       16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. , 17.6, 16.5,
       18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4, 25.4, 23. ,
       27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 33.5, 41.5,
       38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8, 31.3, 37. ,
       32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6, 33.8, 29.8,
       32.7, 23.7, 35. , 32.4, 27.2, 26.6, 25.8, 23.5, 30. , 39.1, 39. ,
       35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4, 29.9, 33. , 33.7, 32.4,
       32.9, 31.6, 28.1, 30.7, 25.4, 24.2, 22.4, 26.6, 20.2, 17.6, 28. ,
       27. , 34. , 31. , 29. , 27. , 24. , 36. , 37. , 31. , 38. , 36. ,
       36. , 36. , 34. , 38. , 32. , 38. , 25. , 38. , 26. , 22. , 32. ,
       36. , 27. , 27. , 44. , 32. , 28. , 31. ])

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [9]:
#Defining the model 

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam


model = Sequential()

model.add(Dense(64,input_shape=(308,),activation='tanh'))
model.add(Dense(32,activation='tanh'))
model.add(Dense(1,activation='linear'))

model.compile(optimizer='rmsprop',loss='mse',metrics=['mse'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                19776

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 21,889
Trainable params: 21,889
Non-trainable params: 0
_________________________________________________________________

In [10]:
import numpy as np
N_EPOCHS = 30

history=model.fit(x=X_train, y=y_train, epochs=N_EPOCHS, batch_size=32,validation_data= (X_test,y_test))
y_pred = model.predict(X_test)

Epoch 1/30

2024-10-24 11:05:28.246358: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

10/10 [==============================] - 0s 13ms/step - loss: 527.2443 - mse: 527.2443 - val_loss: 443.4162 - val_mse: 443.4162
Epoch 2/30
10/10 [==============================] - 0s 3ms/step - loss: 415.8466 - mse: 415.8466 - val_loss: 377.5594 - val_mse: 377.5594
Epoch 3/30
10/10 [==============================] - 0s 3ms/step - loss: 365.5342 - mse: 365.5342 - val_loss: 343.9296 - val_mse: 343.9296
Epoch 4/30
10/10 [==============================] - 0s 4ms/step - loss: 338.8546 - mse: 338.8546 - val_loss: 323.9842 - val_mse: 323.9842
Epoch 5/30
10/10 [==============================] - 0s 4ms/step - loss: 321.2885 - mse: 321.2885 - val_loss: 309.1234 - val_mse: 309.1234
Epoch 6/30
10/10 [==============================] - 0s 4ms/step - loss: 307.3474 - mse: 307.3474 - val_loss: 296.5558 - val_mse: 296.5558
Epoch 7/30
10/10 [==============================] - 0s 3ms/step - loss: 295.3228 - mse: 295.3228 - val_loss: 285.3511 - val_mse: 285.3511
Epoch 8/30
10/10 [==============================] - 0s 3ms/step - loss: 284.2812 - mse: 284.2812 - val_loss: 274.8334 - val_mse: 274.8334
Epoch 9/30
10/10 [==============================] - 0s 3ms/step - loss: 274.0947 - mse: 274.0947 - val_loss: 265.2171 - val_mse: 265.2171
Epoch 10/30
10/10 [==============================] - 0s 3ms/step - loss: 264.4067 - mse: 264.4067 - val_loss: 255.7337 - val_mse: 255.7337
Epoch 11/30
10/10 [==============================] - 0s 3ms/step - loss: 254.9441 - mse: 254.9441 - val_loss: 246.5434 - val_mse: 246.5434
Epoch 12/30
10/10 [==============================] - 0s 3ms/step - loss: 245.8531 - mse: 245.8531 - val_loss: 237.8234 - val_mse: 237.8234
Epoch 13/30
10/10 [==============================] - 0s 3ms/step - loss: 237.1745 - mse: 237.1745 - val_loss: 229.4633 - val_mse: 229.4633
Epoch 14/30
10/10 [==============================] - 0s 3ms/step - loss: 228.7226 - mse: 228.7226 - val_loss: 221.1983 - val_mse: 221.1983
Epoch 15/30
10/10 [==============================] - 0s 2ms/step - loss: 220.3840 - mse: 220.3840 - val_loss: 213.1038 - val_mse: 213.1038
Epoch 16/30
10/10 [==============================] - 0s 3ms/step - loss: 212.3582 - mse: 212.3582 - val_loss: 205.3206 - val_mse: 205.3206
Epoch 17/30
10/10 [==============================] - 0s 3ms/step - loss: 204.5916 - mse: 204.5916 - val_loss: 197.8426 - val_mse: 197.8426
Epoch 18/30
10/10 [==============================] - 0s 3ms/step - loss: 196.9835 - mse: 196.9835 - val_loss: 190.3987 - val_mse: 190.3987
Epoch 19/30
10/10 [==============================] - 0s 3ms/step - loss: 189.5366 - mse: 189.5366 - val_loss: 183.1591 - val_mse: 183.1591
Epoch 20/30
10/10 [==============================] - 0s 3ms/step - loss: 182.3782 - mse: 182.3782 - val_loss: 176.3311 - val_mse: 176.3311
Epoch 21/30
10/10 [==============================] - 0s 3ms/step - loss: 175.5004 - mse: 175.5004 - val_loss: 169.6380 - val_mse: 169.6380
Epoch 22/30
10/10 [==============================] - 0s 3ms/step - loss: 168.6878 - mse: 168.6878 - val_loss: 162.9660 - val_mse: 162.9660
Epoch 23/30
10/10 [==============================] - 0s 3ms/step - loss: 162.1510 - mse: 162.1510 - val_loss: 156.8601 - val_mse: 156.8601
Epoch 24/30
10/10 [==============================] - 0s 3ms/step - loss: 155.9056 - mse: 155.9056 - val_loss: 150.7429 - val_mse: 150.7429
Epoch 25/30
10/10 [==============================] - 0s 3ms/step - loss: 149.7862 - mse: 149.7862 - val_loss: 144.8899 - val_mse: 144.8899
Epoch 26/30
10/10 [==============================] - 0s 2ms/step - loss: 143.8951 - mse: 143.8951 - val_loss: 139.2179 - val_mse: 139.2179
Epoch 27/30
10/10 [==============================] - 0s 3ms/step - loss: 138.2475 - mse: 138.2475 - val_loss: 133.8556 - val_mse: 133.8556
Epoch 28/30
10/10 [==============================] - 0s 3ms/step - loss: 132.8103 - mse: 132.8103 - val_loss: 128.5423 - val_mse: 128.5423
Epoch 29/30
10/10 [==============================] - 0s 3ms/step - loss: 127.4669 - mse: 127.4669 - val_loss: 123.4806 - val_mse: 123.4806
Epoch 30/30
10/10 [==============================] - 0s 3ms/step - loss: 122.4063 - mse: 122.4063 - val_loss: 118.6326 - val_mse: 118.6326
3/3 [==============================] - 0s 997us/step

In [11]:
model.evaluate(X_test, y_test)

3/3 [==============================] - 0s 1ms/step - loss: 118.6326 - mse: 118.6326

[118.63257598876953, 118.63257598876953]